---
---

:root {
  // == COLORS RAW
  --catppuccin-base: #24273a;
  --catppuccin-text: #cdd6f4;
  --catppuccin-overlay-zero: #6e738d;
  --catppuccin-overlay-two: #6e738d;
  --catppuccin-blue: #8aadf5;
  --catppuccin-sky: #91d7e3;
  --catppuccin-mauve: #c6a0f6;
 
  // coolors color palette
  --dark-purple: #230C29;
  --tiffany-blue: #84DCCF;
  --tea-green: #CDEAC0;
  --mountbatten-pink: #A1869E;
  --mina-blue: #008FDF;
  --pale-purple: #F1E3F3;
  --aji-red: #FC5753;

  // image color palette
  --clouds-pink: #f0a0fd;
  --clouds-purple: #865bf4;
  --clouds-blue: #9cebea;
  --clouds-bright-purple: #aea4fc;

  // === USE OF COLORS
  --main-bg-color: var(--dark-purple);
  --main-text-color: var(--pale-purple);
  --text-color-highlight: var(--catppuccin-overlay-two);

  --link-color: var(--clouds-blue);
  --visited-link-color: var(--mountbatten-pink);
  --hover-link-color: var(--tea-green);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  height: 100vh;
}

.main-layout {
  max-width: 400px;
  height: 100vh;
}

.site-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto 2fr auto;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--hover-link-color);
    text-shadow: 0px 3px 5px var(--mina-blue);
  }
}

.handwritten-text {
  font-family: 'Rock Salt', cursive;
}

.small-text {
  font-size: .8rem;
}

@import "header";
@import "footer";
@import "home";
@import "episode";
