---
---

@import "home";

:root {
  --catppuccin-base: #24273a;
  --catppuccin-text: #cad3f5;

  --main-bg-color: var(--catppuccin-base);
  --main-text-color: var(--catppuccin-text);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
