.latest-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--catppuccin-base);
  padding: 1rem;
  border-radius: 10px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: .5rem;
  }

  p {
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .show-notes-link {
    margin-bottom: 1rem;
  }

  .player-cta {
    margin-bottom: 0;
  }

  iframe {
    border-radius: 1rem;
  }
}

.episode-title {
  margin-top: 0;
  font-size: 1.5rem;
}
