---
layout: base
---

{% assign episodes = paginator.posts %}

<div class="home">
  {{ content }}

  {% for ep in episodes limit:1 %}
    <section aria-labelledby="latest-title" class="latest-section">
      <h2>Latest Episode</h2>
      <h3 class="episode-title">
        <a href="{{ ep.url }}">{{ ep.title }}</a>
      </h3>
      {{ ep.excerpt }}
      <a class="show-notes-link" href="{{ ep.url }}">Show Notes</a>

      <p>listen
          <a href="https://rss.com/podcasts/tightly-coupled-book-club/{{ ep.rss_code }}/">
            here
          </a>
          or subscribe in your podcast player
      </p>
    </section>
  {% endfor %}

  <img src="/public/readers.png" />
</div>
